<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recuperar Contraseña</title>
</head>
<body>
    <h1>Recuperar Contraseña</h1>

    <p th:if="${error}" th:text="${error}" style="color:red"></p>

    <form th:action="@{/reset-password}" method="post">
        <label>Correo:</label>
        <input type="email" name="correo" required>
        <button type="submit">Enviar</button>
    </form>

    <button onclick="window.location.href='/login'">Volver al login</button>
</body>
</html>
